async-timeout==3.0.1
#Core
discord.py==1.7.3

#Only needed if you're running in Spyder or with Jupyter Notebook
nest-asyncio==1.5.1

#Uncomment below if using selenium for stats command
#selenium==3.141.0
#webdriver-manager==3.4.2

#Uncomment below if using requests for stats command
#requests==2.22.0

#Uncomment below for stats command
#beautifulsoup4==4.7.1
#lxml 
